/* Shared Style */
.container {
    max-width: 1280px;
    margin: auto;
}

main {
    background: rgb(244, 244, 244);
}

/* - - - Nav Section - - -  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;

}

.nav-section a {
    text-decoration: none;
    color: #707070;
}

.search-bar {
    position: relative;
    color: #BABABA;

}

.search-bar input {
    border: none;
}

.search-bar i {
    position: absolute;
    top: 17px;
    right: 20px
}

nav input {
    width: 508px;
    height: 48px;
    border-radius: 66px;
    background: #F1F1F1;
    padding: 12px;

}

/* - - - Banner Section - - -  */

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 141px;
    background: rgb(254, 234, 233);
    margin: 63px auto 0;
    max-width: 1400px;
    height: 455px;
    padding: 10px;
    border-radius: 10px;
}

.banner-content {
    margin: 68px 0 69px 46px;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    color: #1F1F1F;
    font-family: Poppins;
    text-align: left;
    margin: 68px 0 8px 0;
}

.banner-description {
    font-size: 16px;
    font-weight: 400px;
    color: #1F1F1F;
    font-family: Poppins;
    text-align: left;
}

.banner-value {
    font-size: 41px;
    font-weight: 500px;
    color: #FF136F;
    font-family: Poppins;
    text-align: left;
}

.banner-section button {
    width: 168px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    background-color: #FF136FFF;
    outline-style: none;
    margin-bottom: 69px;
    border: none;
}

.banner-section button:hover {
    background-color: #FF9C35;
    color: white;
}

.banner-section img {
    margin: 38px 63px 39px 0;
    width: 402px;
    height: 378px;
}

/* } - - categories-section - -  */

.categories-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    max-width: 1280px;
    margin: 78px auto 0;
    margin-bottom: 52px;

}

.categories-section img {
    width: 94px;
    height: 94px;
}

.categories-section h4 {
    margin: 33px 0 33px 46px;
}

.watch-catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9C35;
    width: 450px;
    height: 120px;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    gap: 30px;

}

.bag-catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF589B;
    width: 450px;
    height: 120px;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    gap: 30px;
}

.shoes-catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4289FF;
    width: 450px;
    height: 120px;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    gap: 30px;
}

/* - - Shoes Section - - */

.all-shoes-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.all-shoes-collection img {
    width: 336px;
    height: 202px;
}

.all-shoes-collection h4 {
    font-weight: 600;
    font-size: 24px;
}

.all-shoes-collection button {
    width: 168px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    background-color: black;
    outline-style: none;
    margin-bottom: 69px;
    border: none;
}


.shoes-1 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 496px;

}

.shoes-2 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 496px;

}

.shoes-3 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 496px;

}


/* - - bags Section - - */

.all-backpack-collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.all-backpack-collection img {
    width: 290px;
    height: 290px;
}

.all-backpack-collection h4 {
    font-weight: 600;
    font-size: 24px;
}

.all-backpack-collection button {
    width: 168px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    background-color: black;
    outline-style: none;
    margin-bottom: 69px;
    border: none;
}


.bags-1 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 584px;

}

.bags-2 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 584px;

}

.bags-3 {
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    height: 584px;

}