/* Full Web Margin */
.container {
    max-width: 1280px;
    margin: auto;
}

/* - - - Nav Section - - -  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;

}

.nav-section a {
    text-decoration: none;
    color: #707070;
}

.search-bar {
    position: relative;
    color: #BABABA;

}

.search-bar input {
    border: none;
}

.search-bar i {
    position: absolute;
    top: 17px;
    right: 20px
}

nav input {
    width: 508px;
    height: 48px;
    border-radius: 66px;
    background: #F1F1F1;
    padding: 12px;

}

/* - - - Banner Section - - -  */

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 141px;
    background: rgb(254, 234, 233);
    margin: 63px auto 0;
    max-width: 1400px;
    height: 455px;
    padding: 10px;
    border-radius: 10px;
}

.banner-content {
    margin: 68px 0 69px 46px;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    color: #1F1F1F;
    font-family: Poppins;
    text-align: left;
    margin: 68px 0 8px 0;
}

.banner-description {
    font-size: 16px;
    font-weight: 400px;
    color: #1F1F1F;
    font-family: Poppins;
    text-align: left;
}

.banner-value {
    font-size: 41px;
    font-weight: 500px;
    color: #FF136F;
    font-family: Poppins;
    text-align: left;
}

.banner-section button {
    width: 168px;
    height: 52px;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
    border-radius: 6px;
    background-color: #FF136FFF;
    outline-style: none;
    margin-bottom: 69px;
    border: none;
}

.banner-section button:hover{
    background-color: #FF9C35;
    color: white;
}

.banner-section img {
    margin: 38px 63px 39px 0;
    width: 402px;
    height: 378px;
}